:root{
	--color-primary-xo: #1c242e;
	--color-primary-o: #262f38;
	--color-primary: #303841;
	--color-primary-l: #48515c;
	--color-primary-xl: #68727d;

	--color-secondary-xo: #cc570a;
	--color-secondary-o: #e8640e;
	--color-secondary: #FD7014;
	--color-secondary-l: #ff883b;
	--color-secondary-xl: #ff9957;

	--color-text: #fff;

	--font-title: 'Bree Serif', serif;
	--font-text: 'Abel', sans-serif;
}
/* etiquetas */
.cs{
	color: var(--color-secondary);
}


*{
	margin: 0;
	padding: 0;
}
html, body{
	font-family: var(--font-text);
	background-color: var(--color-primary-xo);
	color: var(--color-text);
	overflow-x: hidden;
}
.app_title{
	font-family: var(--font-title);
	font-size: 2.8em;
	margin-left: 0.3em;
}
.app_header{
	background: rgb(28,36,46);
	background: linear-gradient(320deg, rgba(28,36,46,1) 33%, rgba(72,81,92,1) 100%);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.app_header p{
	margin-left: 1em;
	margin-right: 1em;
}

@keyframes rotate {

	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}

}

.header_col_img{
	height: 13em;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4em;
	margin-bottom: 1em;
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	box-shadow: 0px 0px 53px -8px #847bc7;
	-webkit-box-shadow: 0px 0px 53px -8px #847bc7;
	-moz-box-shadow: 0px 0px 53px -8px #847bc7;
	border-radius: 50%;
}

.app_nav{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgb(28, 36, 46, 0.9);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	left: -100vw;
	transition: left 0.5s;
}
.nav_list{
	list-style: none;
}
.list_item{
	text-align: center;
	width: 8em;
	height: 3em;
	margin: 2em auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list_item a{
	color: var(--color-text);
	text-decoration: none;
	font-size: 1.5em;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: var(--color-secondary);
	transition: background-color 0.7s;
}
.list_item a:hover{
	background-color:var(--color-secondary-xo)
}

.btn_menu{
	position: fixed;
	right: 15px;
	top: 15px;
	font-size: 1.6em;
	border: none;
	outline: none;
	border-radius: 50%;
	height: 1.5em;
	width: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(28, 36, 46, 0.8);
	color: inherit;
	z-index: 20;
	border: 1px solid var(--color-primary-xl);
}

.col2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.skill{
	width: 90%;
	margin: 0.3em auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid var(--color-primary-l);
	border-radius: 5px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: background-color 0.4s;
	font-size: 1.1em;
}
.skill:hover{
	background-color: var(--color-primary-l);
}
.skill i{
	color: var(--color-secondary-l);
	font-size: 1.5em;
}

.about{
	margin-top: 12em;
	background-color: var(--color-secondary-l);
	color: #000;
	padding-bottom: 5em;
}
.about_wave{
	position: relative;
	bottom: 6.8em;
	margin-bottom: -6em;
	width: 100vw;

}
.about_title{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	border-bottom: 2px solid var(--color-primary);
	width: 5em;
	margin: 0 auto;
	margin-top: -0.4em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-family: var(--font-title);
}
.about p{
	text-align: center;
	margin: 0 1em;
}

.project{
	margin: 2em 1em;
}
.project_title{
	font-size: 2em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid var(--color-secondary-l);
	width: 5em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.5em;
	font-weight: bolder;
	font-family: var(--font-title);
	padding-bottom: 0.2em;
}
.project_text{
	text-align: center;
	margin-bottom: 1em;
}
.features_title{
	font-size: 1.5em;
	font-family: var(--font-title);
	margin-bottom: 1em;
}
.feature{
	margin-top: 0.7em;
}

.sponsors{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sponsor_card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-secondary-l);
	color: #000;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border: none;
}
.sponsor_card i{
	font-size: 4em;
}
.sponsor_card span{

}
.sponsors_title{
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: var(--color-secondary-l);
	color: #000;
	font-size: 2em;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	font-family: var(--font-title);
}

.prices{
	margin: 2em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.prices_title{
	text-align: center;
	font-size: 2em;
	font-family: var(--font-title);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid var(--color-secondary-l);
	width: 5em;
	margin-right: auto;
	margin-left: auto;
}
.prices_container{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: ;
}
.btnsPlans{
	margin-top: 1em;
	margin-bottom: 1em;
}
.btnPlan{
	width: 5em;
	height: 2.5em;
	outline: none;
	margin: 0 0.3em;
	border: 2px solid var(--color-secondary-l);
	background-color: transparent;
	color: var(--color-text);
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.5s, color 0.5s;
}
.btnPlanActive{
	background-color: var(--color-secondary-l);
	color: #000;
}

.prices_card{
	border: 2px solid var(--color-secondary);
	display: flex;
	flex-direction: column;
	width: 15em;
	border-radius: 10px;
	padding-bottom: 1em;
	background-color: var(--color-primary-o);
	-webkit-box-shadow: 0px 0px 25px -6px #000000; 
	box-shadow: 0px 0px 25px -6px #000000;
}

.prices_card_title{
	text-align: center;
	font-size: 1.5em;
	background-color: var(--color-secondary);
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-bottom: 0.5em;
}

.prices_card span{
	margin-left: 1.5em;
}

span .la-check{
	color: #33ff52;
}
span .la-times{
	color: #ff243d;
}

.metodos{
	display: flex;
	margin-top: 0.5em;
}
.metodo{
	font-size: 1.5em;
	margin: 0 0.3em;
	padding: 0 0.5em;
	border-radius: 5px;
	border: 2px solid var(--color-secondary-l);
	color: var(--color-secondary-l);
}
.info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	margin-top: 4em;
}
.info_article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5em;
}
.info_article p{
	font-size: 1.4em;
}
.info_article img{
	height: 5em;
	z-index: 4;
}

.circleFlur{
	position: relative;
	width: 3.5em;
	height: 3.5em;
	background-color: var(--color-secondary-o);
	margin-bottom: -3.5em;
/*	left: 1.5em;
	bottom: 1em;*/
	border-radius: 50%;
	filter: blur(40px);
}



footer{
	height: 60px;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
}